<div class="row">
  <div class="well center ">
    <h1>Projekt FAQ in RubyOnRailsSoSe2018</h1>
    <h4>Hier können Fragen zu verschiedenen Themen gestellt werden.</h4>
  </div>
</div>
<div class="container">
  <div class='row'>
    <% @questions.each do |question| %>
    <%= render 'card', question: question %>
    <% end %>
  </div>
</div>
