
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>Neue Antwort</h2>
        <div class="jumbotron table-bordered">
          <%= render 'form', answer: @answer %>
        </div>
    </div>
</div>
